<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxD_msVKDL0Hh4Vj2wZvWx7T603MY_pY4</string>
	<key>GCM_SENDER_ID</key>
	<string>203653677752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.front</string>
	<key>PROJECT_ID</key>
	<string>fill-up-40a93</string>
	<key>STORAGE_BUCKET</key>
	<string>fill-up-40a93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203653677752:ios:d0b491b71a5fa363932a4d</string>
</dict>
</plist>